.popupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.descriptionText {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.popupTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: left;
  margin-right: auto;
}

.closeBtn,
.deleteBtn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #333;
  &:hover {
    color: red;
  }
}

.deleteBtn {
  color: red;
  &:hover {
    color: darkred;
  }
}
